/* line 3, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
body {
  overflow-x: hidden; }

/* line 8, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
section, header {
  padding: 100px 0; }
  /* line 10, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  section h2, header h2 {
    margin: 0; }
  /* line 13, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  section .row.intro, header .row.intro {
    padding-bottom: 5%; }

/* line 19, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none; }

/* line 28, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

/* line 34, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
hr.star {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px; }

/* line 43, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
hr.star:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em; }

/* line 53, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.img-centered {
  margin: 0 auto; }

/* line 57, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
header {
  text-align: center; }
  /* line 59, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header img {
    display: block;
    margin: 0 auto 20px; }
  /* line 64, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .name {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75em; }
  /* line 71, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .skills {
    font-weight: 300; }

/* line 78, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  /* line 82, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .navbar a:focus {
    outline: none; }

/* line 87, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.navbar-default,
.navbar-inverse {
  border: none; }

/* line 94, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  /* line 97, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    /* line 102, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    #portfolio .portfolio-item .portfolio-link .caption {
      background: rgba(44, 62, 80, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      /* line 111, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      /* line 114, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 30%;
        margin-top: -12px;
        color: #D8A82D; }
        /* line 123, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; }
        /* line 126, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 10%; }
/* line 134, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  /* line 141, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
/* line 147, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn-outline {
  color: white;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px; }
  /* line 154, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white; }

/* line 164, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }
  /* line 169, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none; }
  /* line 182, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease; }
  /* line 198, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee; }

/* line 205, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

/* line 212, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group-with-focus label {
  color: #18BC9C; }

/* line 217, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }

/* line 221, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
footer {
  color: white; }
  /* line 223, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer h3 {
    margin-bottom: 30px; }
  /* line 226, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50; }
  /* line 230, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-col {
    margin-bottom: 50px; }
  /* line 233, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140; }

/* line 239, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

/* line 250, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn:focus,
.btn:active,
.btn.active {
  outline: none; }

/* line 256, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049; }
  /* line 263, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px; }
    /* line 269, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .scroll-top .btn:focus {
      outline: none; }

/* line 276, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  /* line 285, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em; }
  /* line 289, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
  /* line 292, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content .item-details {
    margin: 30px 0; }
  /* line 295, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content .description {
    text-align: left;
    font-size: 0.8em; }
  /* line 299, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content .website {
    padding: 2%; }
/* line 303, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  /* line 311, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  /* line 314, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    /* line 325, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #2C3E50;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }
