/* line 4, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
body {
  overflow-x: hidden; }

/* line 8, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
p {
  font-size: 20px; }

/* line 12, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
p.small {
  font-size: 16px; }

/* line 16, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none; }

/* line 25, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

/* line 31, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
hr.star {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px; }

/* line 40, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
hr.star:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em; }

/* line 50, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.img-centered {
  margin: 0 auto; }

/* line 54, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
header {
  text-align: center;
  background: #18BC9C;
  color: white; }
  /* line 58, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .container {
    padding-top: 100px;
    padding-bottom: 50px; }
  /* line 62, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header img {
    display: block;
    margin: 0 auto 20px; }
  /* line 67, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .name {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em; }
  /* line 74, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300; }

@media (min-width: 768px) {
  /* line 83, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .container {
    padding-top: 200px;
    padding-bottom: 100px; }
  /* line 88, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .name {
    font-size: 4.75em; }
  /* line 91, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  header .intro-text .skills {
    font-size: 1.75em; } }
@media (min-width: 768px) {
  /* line 99, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s; }
    /* line 104, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }

  /* line 111, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0; }
    /* line 113, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .navbar-fixed-top.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }
/* line 119, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  /* line 123, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .navbar a:focus {
    outline: none; }
  /* line 126, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .navbar .navbar-nav {
    letter-spacing: 1px; }
    /* line 129, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .navbar .navbar-nav li a:focus {
      outline: none; }

/* line 136, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.navbar-default,
.navbar-inverse {
  border: none; }

/* line 141, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
section {
  padding: 100px 0; }
  /* line 143, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  section h2 {
    margin: 0;
    font-size: 3em; }

/* line 149, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.flavour0 {
  color: #2C3E50;
  background: white; }
  /* line 44, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour0 hr.star {
    border-color: #2C3E50; }
  /* line 47, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour0 hr.star:after {
    color: #2C3E50;
    background-color: white; }
  /* line 51, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour0 .btn-outline {
    color: #2C3E50;
    background-color: white;
    border-color: #2C3E50; }
    /* line 7, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour0 .btn-outline:hover, .flavour0 .btn-outline:focus, .flavour0 .btn-outline:active, .flavour0 .btn-outline.active, .open .dropdown-toggle .flavour0 .btn-outline {
      color: #2C3E50;
      background-color: #e6e6e6;
      border-color: #161f29; }
    /* line 16, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour0 .btn-outline:active, .flavour0 .btn-outline.active, .open .dropdown-toggle .flavour0 .btn-outline {
      background-image: none; }
    /* line 24, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour0 .btn-outline.disabled, .flavour0 .btn-outline.disabled:hover, .flavour0 .btn-outline.disabled:focus, .flavour0 .btn-outline.disabled:active, .flavour0 .btn-outline.disabled.active, .flavour0 .btn-outline[disabled], .flavour0 .btn-outline[disabled]:hover, .flavour0 .btn-outline[disabled]:focus, .flavour0 .btn-outline[disabled]:active, .flavour0 .btn-outline[disabled].active, fieldset[disabled] .flavour0 .btn-outline, fieldset[disabled] .flavour0 .btn-outline:hover, fieldset[disabled] .flavour0 .btn-outline:focus, fieldset[disabled] .flavour0 .btn-outline:active, fieldset[disabled] .flavour0 .btn-outline.active {
      background-color: white;
      border-color: #2C3E50; }
    /* line 34, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour0 .btn-outline .badge {
      color: white;
      background-color: #2C3E50; }

/* line 152, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.flavour1 {
  color: white;
  background: #18BC9C; }
  /* line 153, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .flavour1 a {
    color: white;
    text-decoration: underline; }
  /* line 44, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour1 hr.star {
    border-color: white; }
  /* line 47, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour1 hr.star:after {
    color: white;
    background-color: #18BC9C; }
  /* line 51, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour1 .btn-outline {
    color: white;
    background-color: #18BC9C;
    border-color: white; }
    /* line 7, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour1 .btn-outline:hover, .flavour1 .btn-outline:focus, .flavour1 .btn-outline:active, .flavour1 .btn-outline.active, .open .dropdown-toggle .flavour1 .btn-outline {
      color: white;
      background-color: #128f76;
      border-color: #e0e0e0; }
    /* line 16, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour1 .btn-outline:active, .flavour1 .btn-outline.active, .open .dropdown-toggle .flavour1 .btn-outline {
      background-image: none; }
    /* line 24, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour1 .btn-outline.disabled, .flavour1 .btn-outline.disabled:hover, .flavour1 .btn-outline.disabled:focus, .flavour1 .btn-outline.disabled:active, .flavour1 .btn-outline.disabled.active, .flavour1 .btn-outline[disabled], .flavour1 .btn-outline[disabled]:hover, .flavour1 .btn-outline[disabled]:focus, .flavour1 .btn-outline[disabled]:active, .flavour1 .btn-outline[disabled].active, fieldset[disabled] .flavour1 .btn-outline, fieldset[disabled] .flavour1 .btn-outline:hover, fieldset[disabled] .flavour1 .btn-outline:focus, fieldset[disabled] .flavour1 .btn-outline:active, fieldset[disabled] .flavour1 .btn-outline.active {
      background-color: #18BC9C;
      border-color: white; }
    /* line 34, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour1 .btn-outline .badge {
      color: #18BC9C;
      background-color: white; }

/* line 159, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.flavour2 {
  color: #381E10;
  background: #D8A82D; }
  /* line 44, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour2 hr.star {
    border-color: #381E10; }
  /* line 47, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour2 hr.star:after {
    color: #381E10;
    background-color: #D8A82D; }
  /* line 51, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour2 .btn-outline {
    color: #381E10;
    background-color: #D8A82D;
    border-color: #381E10; }
    /* line 7, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour2 .btn-outline:hover, .flavour2 .btn-outline:focus, .flavour2 .btn-outline:active, .flavour2 .btn-outline.active, .open .dropdown-toggle .flavour2 .btn-outline {
      color: #381E10;
      background-color: #b18921;
      border-color: #080402; }
    /* line 16, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour2 .btn-outline:active, .flavour2 .btn-outline.active, .open .dropdown-toggle .flavour2 .btn-outline {
      background-image: none; }
    /* line 24, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour2 .btn-outline.disabled, .flavour2 .btn-outline.disabled:hover, .flavour2 .btn-outline.disabled:focus, .flavour2 .btn-outline.disabled:active, .flavour2 .btn-outline.disabled.active, .flavour2 .btn-outline[disabled], .flavour2 .btn-outline[disabled]:hover, .flavour2 .btn-outline[disabled]:focus, .flavour2 .btn-outline[disabled]:active, .flavour2 .btn-outline[disabled].active, fieldset[disabled] .flavour2 .btn-outline, fieldset[disabled] .flavour2 .btn-outline:hover, fieldset[disabled] .flavour2 .btn-outline:focus, fieldset[disabled] .flavour2 .btn-outline:active, fieldset[disabled] .flavour2 .btn-outline.active {
      background-color: #D8A82D;
      border-color: #381E10; }
    /* line 34, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour2 .btn-outline .badge {
      color: #D8A82D;
      background-color: #381E10; }

/* line 162, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.flavour3 {
  color: #D8A82D;
  background: #2C3E50; }
  /* line 44, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour3 hr.star {
    border-color: #D8A82D; }
  /* line 47, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour3 hr.star:after {
    color: #D8A82D;
    background-color: #2C3E50; }
  /* line 51, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
  .flavour3 .btn-outline {
    color: #D8A82D;
    background-color: #2C3E50;
    border-color: #D8A82D; }
    /* line 7, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour3 .btn-outline:hover, .flavour3 .btn-outline:focus, .flavour3 .btn-outline:active, .flavour3 .btn-outline.active, .open .dropdown-toggle .flavour3 .btn-outline {
      color: #D8A82D;
      background-color: #1a242f;
      border-color: #a9821f; }
    /* line 16, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour3 .btn-outline:active, .flavour3 .btn-outline.active, .open .dropdown-toggle .flavour3 .btn-outline {
      background-image: none; }
    /* line 24, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour3 .btn-outline.disabled, .flavour3 .btn-outline.disabled:hover, .flavour3 .btn-outline.disabled:focus, .flavour3 .btn-outline.disabled:active, .flavour3 .btn-outline.disabled.active, .flavour3 .btn-outline[disabled], .flavour3 .btn-outline[disabled]:hover, .flavour3 .btn-outline[disabled]:focus, .flavour3 .btn-outline[disabled]:active, .flavour3 .btn-outline[disabled].active, fieldset[disabled] .flavour3 .btn-outline, fieldset[disabled] .flavour3 .btn-outline:hover, fieldset[disabled] .flavour3 .btn-outline:focus, fieldset[disabled] .flavour3 .btn-outline:active, fieldset[disabled] .flavour3 .btn-outline.active {
      background-color: #2C3E50;
      border-color: #D8A82D; }
    /* line 34, /Users/masciugo/dev/website_middleman/source/stylesheets/mixins.scss */
    .flavour3 .btn-outline .badge {
      color: #2C3E50;
      background-color: #D8A82D; }

@media (max-width: 767px) {
  /* line 168, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  section {
    padding: 75px 0; }

  /* line 171, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  section.first {
    padding-top: 75px; } }
/* line 177, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  /* line 180, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    /* line 185, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    #portfolio .portfolio-item .portfolio-link .caption {
      background: fade(#18BC9C, 90%);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      /* line 194, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      /* line 197, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        /* line 206, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; }
        /* line 209, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 0; }
/* line 217, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  /* line 224, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
/* line 230, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px; }
  /* line 237, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white; }

/* line 247, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }
  /* line 252, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none; }
  /* line 265, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease; }
  /* line 281, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee; }

/* line 288, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

/* line 295, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.floating-label-form-group-with-focus label {
  color: #18BC9C; }

/* line 300, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }

/* line 304, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
footer {
  color: white; }
  /* line 306, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer h3 {
    margin-bottom: 30px; }
  /* line 309, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50; }
  /* line 313, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-col {
    margin-bottom: 50px; }
  /* line 316, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  footer .footer-below {
    padding: 25px 0;
    background-color: #233140; }

/* line 322, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

/* line 333, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.btn:focus,
.btn:active,
.btn.active {
  outline: none; }

/* line 339, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049; }
  /* line 346, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px; }
    /* line 352, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .scroll-top .btn:focus {
      outline: none; }

/* line 359, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  /* line 368, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em; }
  /* line 372, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
  /* line 375, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .modal-content .item-details {
    margin: 30px 0; }
/* line 379, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  /* line 387, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  /* line 390, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    /* line 401, /Users/masciugo/dev/website_middleman/source/stylesheets/freelancer.scss */
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #2C3E50;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }
